<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
  <body>
    <!-- <div class="container"> 
        <img src="{{ url_for('video_feed') }}" class="frame" style="display: none;">
            <div class="d-block">
                <p class="loading" style="text-align: center;">Mengenali wajah .</p>
                <img src="{{ url_for('static', filename='images/ezgif.com-gif-maker.gif') }}" alt="404"  width="250" alt="404 image" class="person">
                <button 
                class="btn btn-primary" onclick="buttonOnClick()" id="button" style="display: none;">
                  Button
                </button>
            </div>
            
      </div> -->

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-four-fifths">
              <h1 class="title">
                JavaScript Camera
              </h1>
              <video autoplay id="video"></video>
              <button class="button is-hidden" id="btnPlay">
                <span class="icon is-small">
                  <i class="fas fa-play"></i>
                  Play
                </span>
              </button>
              <button class="button" id="btnPause">
                <span class="icon is-small">
                  <i class="fas fa-pause"></i>
                  Pause
                </span>
              </button>
              <button class="button is-success" id="btnScreenshot">
                <span class="icon is-small">
                  <i class="fas fa-camera"></i>
                  Capture
                </span>
              </button>
              <button class="button" id="btnChangeCamera">
                <span class="icon">
                  <i class="fas fa-sync-alt"></i>
                  Switch Camera
                </span>
                <span>Switch camera</span>
              </button>
            </div>
            <div class="column">
              <h2 class="title">Screenshots</h2>
              <div id="screenshots"></div>
            </div>
          </div>
        </div>
      </section>
      
    
      <canvas class="is-hidden" id="canvas"></canvas>
    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>