<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="../css/stylelogin.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="body">

  <form action="" method="post">
    <div class="imgcontainer">
      <img src="../images/logo.png" alt="Logo" width="120" height="120">
    </div>

    <div class="auto">
      <div class="justify-content-center">
        <div class="container">
          <div class="d-flex"><label for="uname" class="" class="txt"><b>Email</b></label></div>
          <input type="text" placeholder="Email" name="uname" class="inputstyle" required>
          <br>
          <div class="d-flex"><label for="psw" class="=" class="txt"><b>Password</b></label></div>
          <input type="password" placeholder="Enter Password" name="psw" class="inputstyle" required>
  
          <br>
  
          <div class="d-flex justify-content-between">
            <div class="col-4">
              <input type="checkbox" checked="checked" name="remember"> Ingat Saya
            </div>
            <a href="#">Lupa password?</a>
          </div>
          <br>
          <div class="d-flex justify-content-end">
            <div class="float-end"><button type="submit" class="containermasuk">Masuk</button></div>
          </div>
        </div>
      </div>
      
    </div>

  </form>

</body>

</html>