flask
opencv-python
certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
proglog
requests
tqdm
urllib3
wincertstore
mysql-connector
mysql-connector-python
mysql-connector-python-rf
termcolor