flask
opencv-python
certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
proglog
requests
tqdm
urllib3
wincertstore
mysqlclient
termcolor
flask_login
flask_sqlalchemy
